
.skipRender {
    display: none;
}

.figure-number {
    display: none;
}

figcaption {
    text-align: right;
    margin-top: -1rem !important;
}

figure > p {
    text-align: right;
}

/* Some issues with current version of papermod (2022-09-22) */
.highlight > pre {
    background-color: unset !important;
}
